.wrapper
  = render 'chatside'
  .chat-main
    .main-header
      .main-header__left-box
        .main-header__left-box__current-group
          テストグループ
        %ul.main-header__left-box__member-list
          Member：
          %li.main-header__left-box__member-list__member
            limasol
          %li.main-header__left-box__member-list__member
            limaso
          %li.main-header__left-box__member-list__member
            limas
      = link_to edit_group_path(current_user) do
        .main-header__edit-btn
          Edit
    .messages
      = render @messages

    .form
      = form_for [@group, @message] do |f|
        .new_message
          .input-box
            = f.text_field :content, class: 'input-box__text', placeholder: '  type a message', id: "new_message"
            = f.label :image, class: 'input-box__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'              
            = f.submit 'Send', class: 'submit'
            